#section-carousel {
    height: 100vh;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    touch-action: pan-y;
    user-select: none;
    cursor: grab;
}
@media screen and (max-width:1024px) {
    #section-carousel{
    height: 50vh;
    margin-top:100px;
    
    }
}