#footer{
    width: 100%;
}
#footer-haut{
    height: 150px;
    width: 100%;
    background-color: white;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;


}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    font-family: AVENIR_LIGHT;
    line-height: 1.8;
    
}
.case_bas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    
   
    
}
#logo{
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* On pourra l'enlever plus tard */
    width: 50%;
    
  
}
#adresse{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
   
    font-family: 'AVENIR_LIGHT';
    font-size: 14px;
    

    
    
}
#adresse p{
    font-family: 'AVENIR_LIGHT';
    text-align: center;

}


#footer-bas{
    width: 100%;
    height: 40px;
    background-color: #864646;
    color: rgba(255, 255, 255, 0.851);
    font-family: "AVENIR";
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row;
    gap: 60px;
    
}

#mention_legales_btn a{
    flex: 1;
    width: 100%;
    text-align: center;
    margin-left: 30px;

}
#yummy_film a{
    flex: 1;
    width: 100%;
margin-right: 30px;
    text-align: center;
      
}

@media screen and (max-width:768px) {
    #logo img{
        width: 100%;
        height: auto;
        
    }
    #footer-haut p{
        font-size: 10px;
    }
    #footer-haut{
        font-size: 15px;
    }
    #footer-bas{
        font-size: 10px;
        
        align-items: center;
        margin-bottom: 10px;
    }
}