#section-galerie{
    display: flex;
    font-size: 60px;
    margin-top: 400px;
    margin-bottom: 300px;
    height: 100%;
    position: relative;
    
}
#section-galerie h2{
    width: 75px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: #864646;
    
}
.album{
    position: relative;
    height: 100%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    gap: 20px;
   
}
.bloc-image img{
    transition: all 0.3s;
    
    
}
.bloc-image {
    /* changer height pour le mobile */
    height: 150px;
    
    display: flex;
    align-items: center;
    flex-direction: row;
    object-fit: cover;
    
    position: relative;
    
}
.bloc-image figcaption{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 30%;
    font-size:0.3em ;
    color: white;
    text-align: center;
    
    font-family: 'AVENIR';
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    
    transition: all 0.3s;
    pointer-events: none;
   
}

.bloc-image:hover figcaption{
    opacity: 1;
    cursor: pointer;
}

.bloc-image img:hover {

    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(0.2);
}
/* .images-album{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
   
} */
.images-album{
    height: 100%;
    width: auto;
    display: block;
    object-fit: cover;
    object-position: center;
}
/* Lightbox */

#lightbox_photo{

    position: fixed;
    z-index: 30;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    

}

#overlay_lightbox_photo{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.609);
    transition: all 0.5s;  
    
}
#box-lightbox-photo{
    position: absolute;
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}
#box_close_button_photo{
    position: absolute;
    width: 2rem;
    top: -2rem;
    left: -3rem;
    z-index: 50;
    transform-origin: center;
    transition: all 1s;
   
}
#close_button_photo{
    position: relative;
       
        width: 100%;
        stroke-width: 10%;
        stroke-linecap: round;
        stroke-linejoin: round;
        
}
#box_close_button_photo:hover{
    cursor: pointer;
    transform: rotate(90deg) scale(1.1) ;
     
       
 
}

#box_right_button_photo:hover{
    transform: scale(1.1) translateY(-50%);
    cursor: pointer;

}
#box_left_button_photo:hover{
    transform: scale(1.1) translateY(-50%) rotate(180deg);
    cursor: pointer;
}

#box-lightbox-photo img{
    height: 80vh;
    object-fit: contain;
}

#box_right_button_photo {

position: absolute;
    top: 50%;
    right: -4rem;
    /* ou -40px selon ton SVG */
    transform: translateY(-50%);
    width: 3rem;
    /* taille fixe pour pas bouger */
    z-index: 50;
    transition: all 0.5s;
}



#right_button_photo {
    position: relative;
    width: 100%;
    stroke-width: 60%;
    stroke-linecap: round;
    stroke-linejoin: round;

}
#box_left_button_photo {

    position: absolute;
    top: 50%;
    left: -4rem;
    /* ou -40px selon ton SVG */
    transform: translateY(-50%) rotate(180deg);
    width: 3rem;
    /* taille fixe pour pas bouger */
    z-index: 50;
    transition: all 0.5s;
}



#left_button_photo {
    position: relative;
    width: 100%;
    stroke-width: 60%;
    stroke-linecap: round;
    stroke-linejoin: round;

}

#album-more {
    display: none;
}
@media screen and (max-width:1024px) {
    #section-galerie {
            margin-top: 200px;
            font-size: 0;
            margin-left: 20px;
            margin-right: 20px;
            
    
        }
        .bloc-image{
            height: 80px;

        }

                #section-galerie h2 {
                    width: 60px;
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    color: #864646;
                    font-size: 60px;
                    margin-right: 10px;
                    margin-left: 10px;
                }
    
}

@media screen and (max-width:768px) {
.bloc-image {
        /* changer height pour le mobile */
        height: 90px; 
    
        display: flex;
        align-items: center;
        flex-direction: row;
        object-fit: cover;
        content-visibility: auto;
        position: relative;

    }
          .bloc-image img:hover {
              transform: none;
              filter: none;
          }
    
          .bloc-image:hover figcaption {
              opacity: 0;
          }
.album{
    gap: 2px;
}

 #image-39,
 #image-38,
 #image-37,
 #image-36,
 #image-35,
 #image-34,
 #image-33,
 #image-32,
 #image-31,
 #image-30,
 #image-29,
 #image-28,
 #image-27,
 #image-26,
 #image-25,
 #image-24,
 #image-23,
 #image-22
 {
     display: none !important;
 }
}