*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: clip;
    position: relative;
}
body{
    margin: 0;
    padding: 0;
    background-color: #EBE4DC;
    overflow-x:clip;
    width: 100%;
    max-width: 100%;

    position: relative;
    
}
/* bloque le scroll tant qu'on charge */
html.is-loading,
body.is-loading {
    height: 100%;
    overflow: hidden;
}

/* le loader plein écran */
#loader {
    position: fixed;
    inset: 0;
    background: #EBE4DC;
   
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity .4s ease;
}               

#loader.hidden {
    opacity: 0;
    pointer-events: none;
}

.loader-inner {
    font-family: sans-serif;
    color: white;
    font-size: 1.1rem;
    letter-spacing: .08em;
}
@font-face {
    font-family: "AVENIR";
    src: url("/font/Karu Light.otf") format("opentype");
}
@font-face {
    font-family: "CHEROLINA";
    src: url("/font/Cherolina.otf") format("opentype");
}
@font-face {
    font-family: "AVENIR_TITRE";
    src: url("/font/karu-regular.ttf") format("opentype");
}
@font-face {
    font-family: "AVENIR_LIGHT";
    src: url("/font/karu-extralight.ttf") format("opentype");
}

p{
    
    font-family: "AVENIR";
    color: black;
    font-size: 17px;
    font-variant-ligatures: none;
        -webkit-font-feature-settings: "liga" 0;
        /* désactive ligatures dans Chrome/Safari */
        font-feature-settings: "liga" 0;
        /* désactive ligatures dans Firefox */
}
h1{
    font-family: "CHEROLINA";
    color: #854646;
    font-size: 100px;
    font-weight: 100;
}
h2,h3,h4 {
    font-family: "AVENIR_TITRE";
    text-transform: uppercase;
    color: black;
}
header{
    top: 20px;
    width: 100%;
    position: fixed;
    z-index:50;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    
}

#menu_box {
    display: flex;
    justify-content: space-between;
    width: 292px;
    border: 1px solid;
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    border-radius: 20px;
    border-color: #864646;
    overflow: hidden;
    color: #864646;
    font-family: "AVENIR";
    background-color: rgba(255, 255, 255, 0.167);
    backdrop-filter: blur(5px);
}

/* BOUTON ACCUEIL */
#accueil {

    position: relative;
}

#accueil::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    right: -12px;
    top: 10px;
    transition: all 0.8s;
}

#accueil::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    right: -12px;
    bottom: 10px;
    transition: all 0.8s;
}

/* BOUTON GALERIE */
#galerie {
    position: relative;
}

#galerie::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    left: -13px;
    top: 10px;
    transition: all 0.8s;


}

#galerie::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    left: -13px;
    bottom: 10px;
    transition: all 0.8s;


}

#galerie a::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    right: -13px;
    bottom: 10px;
    transition: all 0.8s;


}

#galerie a::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    right: -13px;
    top: 10px;
    transition: all 0.8s;


}

/* BOUTON CONTACT */
#contact_menu {
    position: relative;
}

#contact_menu::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    left: -12px;
    top: 10px;
    transition: all 0.8s;


}

#contact_menu::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 0px;
    background-color: #864646;
    left: -12px;
    bottom: 10px;
    transition: all 0.8s;


}


/* HOVER BOUTONS */
#galerie:hover::after,
#galerie:hover::before,
#galerie a:hover::before,
#galerie a:hover::after,
#accueil:hover::before,
#accueil:hover::after,
#contact_menu:hover::before,
#contact_menu:hover::after {
    height: 25px;

}
button{
    
    border: 2px solid #854646;
    border-radius: 30px;
    background: none;
    font: "AVENIR_LIGHT";
    color: #854646;

    margin: 0;
    padding: 13px 20px 13px 20px;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
    

}



/* HTML: <div class="loader"></div> */
#loader-inner {
  height: 30px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side,#854646 90%,#85464600);
  background:var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l43 1s infinite linear; 
}
@keyframes l43 {
  0%     {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  16.67% {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  33.33% {background-position: calc(0*100%/3) 100%,calc(1*100%/3) 0   ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
  50%    {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
  66.67% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 100%,calc(3*100%/3) 0   }
  83.33% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 100%}
  100%   {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
}

