*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #EBE4DC;
    overflow-x:hidden;
    width: 100%;
    
}
/* bloque le scroll tant qu'on charge */
html.is-loading,
body.is-loading {
    height: 100%;
    overflow: hidden;
}

/* le loader plein écran */
#loader {
    position: fixed;
    inset: 0;
    background: #0f172a;
    /* tu mets ta couleur */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity .4s ease;
}

#loader.hidden {
    opacity: 0;
    pointer-events: none;
}

.loader-inner {
    font-family: sans-serif;
    color: white;
    font-size: 1.1rem;
    letter-spacing: .08em;
@font-face {
    font-family: "AVENIR";
    src: url("/font/Karu Light.otf") format("opentype");
}
@font-face {
    font-family: "CHEROLINA";
    src: url("/font/Cherolina.otf") format("opentype");
}
@font-face {
    font-family: "AVENIR_TITRE";
    src: url("/font/karu-regular.ttf") format("opentype");
}
@font-face {
    font-family: "AVENIR_LIGHT";
    src: url("/font/karu-extralight.ttf") format("opentype");
}

p{
    font-family: "AVENIR";
    color: black;
}
h1{
    font-family: "CHEROLINA";
    color: #854646;
    font-size: 100px;
    font-weight: 100;
}
h2,h3,h4 {
    font-family: "AVENIR_TITRE";
    text-transform: uppercase;
    color: black;
}
header{
    text-align: center;
    font-family: "AVENIR_LIGHT";
    padding: 20px 20px 20px 20px;
    margin: 20px;
    color: rgb(255, 255, 255)4622;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.257);
    backdrop-filter: blur(5px);
    z-index:50;
    border-radius: 40px;
    top: 20px;
    left:50%;
    transform: translateX(-50%);
    transform-origin: center;
    width: 40%;
    display: flex;
    flex-direction: row;
    
    

   
}
#accueil{
    flex: 1;
    transition: all 0.4s;
    
}
#galerie{
    flex:1;
    transition: all 0.4s;
}
#contact_menu{
    flex:1;
    transition: all 0.4s;
}

#accueil:hover{transform: scale(1.1);color: #854646;}
#galerie:hover{transform: scale(1.1);color: #854646;}
#contact_menu:hover{
    transform: scale(1.1);
    color: #854646;
}

button{
    
    border: 2px solid #854646;
    border-radius: 30px;
    background: none;
    font: "AVENIR_LIGHT";
    color: #854646;

    margin: 0;
    padding: 13px 20px 13px 20px;
    position: relative;
}

a{
    text-decoration: none;
    color: inherit;
    

}

@media screen and (max-width:768px){
    header{
        font-size: 15px;
        justify-content: space-around;
        gap: 20px;
        width: 40%;
        margin: 0;
        left: 0;
        
        
       
    }
    body{
        overflow-x: hidden;
        width: 100vw;
    };
}