#section-methode{
    height: 80vh;
    background:
            linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 60%, transparent 100%),
            url('/img/cardboard_texture.jpg') center/cover no-repeat;
        background-blend-mode: multiply;
    /* background-color:rgb(255, 255, 255); */
    
    background-size: cover;
    background-blend-mode:luminosity;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 350px 0px;

}
#sous-section-methode{
    
        height: 100%;
        gap: 50px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 50%;
       
}
#methode-gauche{
    display: flex;
    /* height: 100%; */
    justify-content: center;
    transform: rotate(-20deg) scale(1.6) translateX(-50px) translateY(-50px);
    flex: 1;
    
    

}
#methode-gauche img{
width: 100%;
position: relative;
transition: all 1s ease;
transform-style: preserve-3d;

}
#methode-gauche img:hover{
    transform: perspective(180px) rotateX(2deg) rotateY(2deg) rotateZ(2deg) ;
    

}
#methode-droite {
    text-align: center;
    flex: 1;
}