#section-methode{
    height: 100%;
    background:
            linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 60%, transparent 100%),
            url('/img/cardboard_texture.jpg') center/cover no-repeat;
        background-blend-mode: multiply;
    /* background-color:rgb(255, 255, 255); */
    
    background-size: cover;
    background-blend-mode:luminosity;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0px 350px 0px;

}
#sous-section-methode{
    
        height: 100%;
        gap: 50px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        width: 80%;
       
}
#methode-gauche{
    display: flex;
    justify-content: center;
    transform: rotate(-20deg) scale(1.6) translateX(-50px) translateY(-50px);
    flex: 1;
    
    

}
#methode-gauche img{
width: 30vw;
position: relative;
transition: all 1s ease;
transform-style: preserve-3d;

}
#methode-gauche img:hover{
    transform: perspective(180px) rotateX(2deg) rotateY(2deg) rotateZ(2deg) ;
    

}
#methode-droite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* font-size: 1.2vw; */
    margin: 50px 0px 50px 0px ;
    flex: 1;
    max-width: 400px;
}
@media screen and (max-width:1024px) {
#methode-gauche {
        display: flex;
        justify-content: center;
        transform: rotate(-20deg) scale(1.6) translateX(0px) translateY(-50px);
        flex: 1;
    }


#methode-gauche img:hover {
    transform: perspective(180px) rotateX(2deg) rotateY(2deg) rotateZ(2deg);


}

}

@media screen and (max-width:768px){
    #section-methode{
        margin-bottom: 150px;
    }
    #sous-section-methode{
        flex-direction: column-reverse; 
    }
    #methode-gauche{
        
        position: absolute;
       top: 0;   
       left: 0%;    
       z-index: 0; 
       transform: rotate(30deg) scale(2) ; 
        
       opacity: 1;
       
    }
    #methode-gauche img{
   
        border-radius: 20px;

    }
  #methode-droite p{  
    z-index: 1;
  }
}