#section-offrons{
    height: 1200px;
    position: relative;
    opacity: 0;
    
}
#titre-offrons{
    text-align: center;
    font-size: 40px;
    
}
#offrons{
    color: #854646;
    
}
/* .offrons-para{
    display: flex;
    gap: 25%;
    width: 100%;
    margin-top: 130px;
  justify-content: center;
  align-items: center;
  text-align: center;
    
}
.paragraphes_offrons{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;

}
.empty{
    flex: 1;
    width: 100%;
}
.offrons-para p{
    width: 250px;
    flex: 1;
    border: 1px solid;
} */

.offrons-para{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    gap: 40%;
    margin-top: 20px;
}
.offrons-para p{
    width: 200px;
    font-size: 20px;
    
}
.rouge-offrons{
    color: #854646;
}

#fleche-offrons{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.fleche-offrons-viewbox{
    height: 100%;
    width: 100%;
}
#fleche_offrons_svg{
    stroke-width: 2px;
}
#couleur-line{
    stroke: #854646;
    stroke-width: 2px;
}
.bouton-cta{
    transform: scale(1.3);
    border-width: 1px;
    transition: all 0.4s;
    margin-top: 50px;
}
.bouton-cta:hover{
    transform: scale(1.4);
}
#section-bouton{
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
}
#chevron_offrons{
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: scale(0.5);
}
#compas{
    position: absolute;
    top: 0px;
    transform: translate(500px,-1200px) rotate(-40deg) scale(0.4);
    opacity: 0.1;
    filter: sepia(1);
}
#outil_deux{
    position: absolute;
        top: 0px;
        transform: translate(-400px, -100px) rotate(-40deg) scale(0.4);
        opacity: 0.1;
        filter: sepia(1);
}

#outil_trois{
    position: absolute;
        top: 0px;
        transform: translate(-300px, 500px) rotate(0deg) scale(0.7);
        opacity: 0.1;
        filter: sepia(1);
}

#outil_quatre {
    position: absolute;
    top: 0px;
    transform: translate(400px, 900px) rotate(-10deg) scale(0.5);
    opacity: 0.1;
    filter: sepia(1);
}
#section-bouton{
    opacity: 0;
}
#groupe-chevron{
    opacity: 0;
}

@media screen and (max-width:1024px) {
    
    .offrons-para{
        gap: 60%;

    }
}