#section-artiste{
  display: flex;
  flex-direction:row;
justify-content: left;
align-items: center;
margin: 100px;
position: relative;
width: 100%;

}
#biographie{

    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 100px ;
   

}
#main {

    
    position: absolute;
    right: 0px;
    top: 100px;
    width: 70%;
    transform: rotate(10deg) translateX(200px) translateY(100px) scale(1.15);
    transform-origin: right;
    flex: 1;
    z-index: -3;
    filter: saturate(0.7);

}
#fleche-jardin{
    height: 300px;
}

#sous-section-jardin{
    display: flex;
    align-items: center;
    margin: 100px;
}

#jardin-exception-gauche{

    flex: 1;
}

#jardin-exception-gauche img{
border-radius: 100px;

}
#jardin-exception-droite {

    flex: 1;
}

#biographie h2{
    font-size: 40px;
    font-family: 'AVENIR';
    
}
#bio_couleur{
    color: #854646;
}
