#section-philo {

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    margin-top: 50px;
   

}

#conteneur-philo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 700px;
  

}

#cont-philo-gauche h2 {

    text-align: center;
    margin: 0;
    padding: 0;

}

#cont-philo-gauche {

    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center;
    
    width: 300px;
    

}

#cont-philo-droite {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 350px;
   
  

}

#masque-video-philo {

    position:relative;
    border-radius: 60px;
    overflow: hidden;
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#masque-video-philo video {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}
#legende{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size:15px;
}
#legende p{
    width: 60%;
    /* margin-bottom: 120px; */
}