#section-philo {

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;

}

#conteneur-philo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 80%;

}

#cont-philo-gauche h2 {

    text-align: center;
    margin: 0;
    padding: 0;

}

#cont-philo-gauche {

    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

#cont-philo-droite {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

#masque-video-philo {


    border-radius: 60px;
    overflow: hidden;
    width: 300px;


}

#masque-video-philo video {

    width: 300px;
    z-index: -1;

}