#section-artiste{
  display: flex;
  flex-direction:row;
justify-content: left;
align-items: center;
margin: 100px;
position: relative;
width: 100%;
height: 100%;

}
#biographie{

    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 100px ;
    opacity: 0;
   

}
#main {

    
    position: absolute;
    right: 0px;
    top: 100px;
    width: 70%;
    transform: rotate(10deg) translateX(200px) translateY(100px) scale(1.15);
    transform-origin: right;
    flex: 1;
    z-index: -3;
    filter: saturate(0.7);
    

}
#fleche_jardin_bloc{
    height: 500px;
    
    position: relative;
    
}
.viewbox_fleche{
    height: 100%;
}
#sous-section-jardin{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    width: 100%;
   
    position: relative;
    gap: 70px;
    transform: translateX(-5%);
}

#jardin-exception-gauche{

    
    display: flex;
    justify-content: center;
    position: relative;
    flex:  0 1 400px;
   
}

#jardin-exception-gauche img{
border-radius: 400px;
width: 400px;
height: 400px;
object-fit: cover;


}
#jardin-exception-droite {
    flex:  0 1 400px;
    justify-content: center;

    
    
    
}


#biographie h2{
    font-size: 40px;
    font-family: 'AVENIR';
    
}
#bio_couleur{
    color: #854646;
}
#fleche_jardin{
    stroke-width: 2px;
    stroke: #854646;
}
#chevron_jardin{
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: scale(0.5);
    stroke: #854646;
}
#ellipse_une{
    stroke-width: 2px;
   ;
    stroke: #854646;
transform-origin: center;
    width: 500px;
    height: 500px;
   
}
#ellipse_deux {
    stroke-width: 2px;
    ;
    stroke: #854646;
    transform-origin: center;
    width: 500px;
    height: 500px;

}
#viewbox_cercles{
position: absolute;
width: 400px;
transform: scale(1.5);
transform-origin: center;

top: 0;
}