#section-banniere{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10%;
    opacity: 0;
    margin-top: 40px;
    /* border: 1px solid; */
}
#texte-banniere{
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
#section-banniere img{
    width: 40%;
    /* border: 1px solid; */
}
#section-banniere p{
    width: 50%;
    text-align: left;
    /* border: 1px solid; */
}
#section-video-animation{
  
    height: 100vh;
    position: relative;
    opacity: 0;
    
}
.animation-fleche-debut {
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fleche {
    position: relative;
    stroke-width: 5px;
    /* stroke-dasharray: 20%; */
    stroke-linecap: round;
    stroke: #854646;
    
}
#fleche2 {
    position: relative;
    stroke-width: 5px;
    stroke: #854646;

}
.viewbox_fleche_init {

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

#video-principale-gauche{
    position: relative;
    width: 100%;
    height: 70%;
    transform: translateX(-23%);
    /* border: 1px solid ; */
}
.box{
    position: absolute;
    top: 0px;
    display: flex;

}
#conteneur-video{
    width: 400%;
    
    
    
    
}
#conteneur-video video{
    mask-image: url(/img/masque_video.png);
        mask-size: contain;
        mask-repeat: no-repeat;
            mask-position: center;
            -webkit-mask-image: url(/img/masque_video.png);
                -webkit-mask-size: contain;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-position: center;
                -webkit-mask-composite: source-over;
            filter: brightness(0.5);
            
            
}
#video-empty{
    width: 100%;
}
#box-play{
    width: 100%;
    height: 100%;
    transition: all 1s;
    
}
#box-play img{
    position: absolute;
    top: 38%;
    left: 33%;
    width: 8%;
    opacity: 0.8;
    transition: all 1s;
    transform-origin: center;
}


#box-play img:hover {

    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;
    transform-origin: center;
}
#chevron {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #854646;
    opacity: 0;
}
#chevron2 {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #854646;
}
#box-photo-face{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#photo-face-video{
    

    height: 100%;
    position: relative;
    flex: 1;
    

}
#photo-face-video img{
    mask-image: url(/img/masque_photo.png);
    mask-size: contain;
    mask-position: 15%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url(/img/masque_photo.png);
    -webkit-mask-size: contain;
     -webkit-mask-position: 15% center;
     -webkit-mask-repeat: no-repeat;
    position: absolute;
   transform: translateX(70%) translateY(-50px) scale(1.4);
    transform-origin: right;
   height: auto;

    
}
#empty-face{
    width: 50%;
    height: 10px;
    flex: 1,
}

#video-popup-overlay{
    width: 100%;
    height: 100vh;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    z-index: 50;
    position: fixed;
    visibility:hidden;
    opacity: 0;
    transition: all 1s;
   

    
 
}
#video-popup-overlay video{
    
    position: fixed;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    

}
#svg-croix{
    position: fixed;
    top: 100px;
    left: 100px;
    width: 4%; 
    stroke-width: 10%;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translate(-50px, -50px);
    transform-origin: center;
    transition: all 0.5s;
   
}
#svg-croix:hover{
    transform: translate(-50px, -50px) rotate(90deg) scale(1.1) ;
    top: 100px;
        left: 100px;
    cursor: pointer;
    
}
#overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:30;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}  

@media (max-width:1024px) {
    
#section-banniere{
    margin-top: 80px;
}
#conteneur-video video {

    transform: scale(2) translateY(150px) ;
}
#box-play img{

transform: scale(2) translateY(150px) translateX(30px);
}
#box-play img:hover {

    cursor: pointer;
    transform: scale(2.09) translateY(150px) translateX(30px);
    opacity: 1;
    transform-origin: center;
}


}
@media screen and (max-width:768px) {
    #section-banniere {
            margin-top: 80px;
           width: 100%;

        }
        #texte-banniere{
            flex-direction: column;
            width: 800px;
            padding: 0%;

        }
        #section-banniere p{
            width: 100%;
        }
        #section-banniere img {
                    width: 100%;
         }
        #conteneur-video video {
    
            transform: scale(2) translateY(50px);


        }
    
        #box-play img {
    
            transform: scale(2) translateY(50px) translateX(30px);
        }
    
        #box-play img:hover {
    
            cursor: pointer;
            transform: scale(2.09) translateY(50px) translateX(30px);
            opacity: 1;
            transform-origin: center;
        }
}