#section-banniere{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10%;
    opacity: 0;
    /* border: 1px solid; */
}
#texte-banniere{
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
#section-banniere img{
    width: 40%;
    /* border: 1px solid; */
}
#section-banniere p{
    width: 50%;
    text-align: left;
    /* border: 1px solid; */
}
#section-video-animation{
  
    height: 100vh;
    position: relative;
    opacity: 0;
    
}
.animation-fleche-debut {
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fleche {
    position: relative;
    stroke-width: 5px;
    /* stroke-dasharray: 20%; */
    stroke-linecap: round;
    stroke: #854646;
    
}
#fleche2 {
    position: relative;
    stroke-width: 5px;
    stroke: #854646;

}
.viewbox_fleche {

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

#video-principale-gauche{
    position: relative;
    width: 100%;
    height: 70%;
    transform: translateX(-23%);
}
.box{
    position: absolute;
    top: 0px;
    display: flex;

}
#conteneur-video{
    width: 400%;
    
    
    
}
#conteneur-video video{
    mask-image: url(/img/masque_video.png);
        mask-size: contain;
        mask-repeat: no-repeat;
            mask-position: center;
            filter: brightness(0.5);
            
}
#video-empty{
    width: 100%;
}
#box-play{
    width: 100%;
    height: 100%;
    transition: all 1s;
    
}
#box-play img{
    position: absolute;
    top: 38%;
    left: 33%;
    width: 8%;
    opacity: 0.8;
    transition: all 1s;
    transform-origin: center;
}

/* #video-principale-gauche{
    position: relative;
    transform-origin: left;
    left: 0px;
    transform: scale(1.5) translateY(0px);
    
}
.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 0;
    padding: 0;
    position: absolute;

    
}
#conteneur-video{
    width: 65%;
    height: 100%;
    border: solid 1px red;
    position: relative;
}
#video-empty{
    width: 100%;
    height: 100px;
    border: solid 1px rgb(4, 255, 0);
}
.box video{
    mask-image: url(/img/masque_video.png);
    mask-size: contain;
    width: 100%;
    left: 0px;
    transform: translateX(-30%) translateY(100px);
    transform-origin: center;
    mask-repeat: no-repeat;
    mask-position: center;
    filter: brightness(0.5);
    position: absolute;
    
    
}
#box-play{

    position: absolute;
    width: 10%;
    transform: translateX(-30%) translateY(100px);
    top: 100px;
    left: 0px;
    transform-origin: center;
    z-index: 5;
    transition: all 0.4s ease;
    opacity: 0.8;
    border: solid 1px red;
} */
#box-play img:hover {

    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;
    transform-origin: center;
}
#chevron {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #854646;
    opacity: 0;
}
#chevron2 {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #854646;
}
#box-photo-face{
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#photo-face-video{
    
   

    height: 100%;
   
    position: relative;
   
    flex: 1;
    

    

}
#photo-face-video img{
    mask-image: url(/img/masque_photo.png);
    mask-size: contain;
    mask-position: 15%;
    mask-repeat: no-repeat;
    position: absolute;
   transform: translateX(70%) translateY(-50px) scale(1.4);
    transform-origin: right;
   height: auto;

    
}
#empty-face{
    width: 50%;
    height: 10px;
    flex: 1,
}

#video-popup-overlay{
    width: 100vw;
    height: 100vh;
    top:50%;
    left: 50%;
    transform: translateX(-35%) translateY(-38%);
    z-index: 50;
    position: fixed;
    visibility:hidden;
    opacity: 0;
    transition: all 1s;
 
}
#svg-croix{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 2%;
    stroke-width: 10%;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translate(-50px, -50px);
    transform-origin: center;
    transition: all 0.5s;
   
}
#svg-croix:hover{
    transform: translate(-50px, -50px) rotate(90deg) scale(1.1) ;
    top: 0px;
    left: 0px;
    cursor: pointer;
    
}
#overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:30;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}  

@media (max-width:768px) {
    
#section-banniere{
    margin-top: 50px;
}
}