#section-artiste{
  display: flex;
  flex-direction:row;
justify-content: left;
align-items: center;
margin: 100px;
position: relative;
width: 100%;
height: 100%;

}
#biographie{

    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 100px ;
    opacity: 0;
   

}
#main {

    
    position: absolute;
    right: 0px;
    top: 100px;
    width: 70%;
    transform: rotate(10deg) translateX(200px) translateY(100px) scale(1.15);
    transform-origin: right;
    flex: 1;
    z-index: -3;
    filter: saturate(0.7);
    

}
#fleche_jardin_bloc{
    height: 500px;
   left: 40%;
    position: relative;

}
.viewbox_fleche_jardin{
    height: 100%;
    
}
#sous-section-jardin{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 100px; */
    width: 100%;
   
    position: relative;
    gap: 70px;
    /* transform: translateX(-5%); */
}

#jardin-exception-gauche{

    
    display: flex;
    justify-content: center;
    position: relative;
    flex:  0 1 400px;
   
   
}

#jardin-exception-gauche img{
border-radius: 400px;
width: 400px;
height: 400px;
object-fit: cover;


}
#jardin-exception-droite {
    flex:  0 1 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    
    flex-direction: column;


}


#biographie h2{
    font-size: 40px;
    font-family: 'AVENIR_TITRE';


}
#bio_couleur{
    color: #854646;
}
#fleche_jardin{
    stroke-width: 2px;
    stroke: #854646;
}
#chevron_jardin{
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: scale(0.5);
    stroke: #854646;
}
#ellipse_une{
    stroke-width: 2px;
   ;
    stroke: #854646;
transform-origin: center;
    width: 500px;
    height: 500px;
   
}
#ellipse_deux {
    stroke-width: 2px;
    ;
    stroke: #854646;
    transform-origin: center;
    width: 500px;
    height: 500px;

}
#viewbox_cercles{
position: absolute;
width: 400px;
transform: scale(1.5);
transform-origin: center;

top: 0;
}

@media screen and (max-width:1024px){


    #biographie {
    
            padding-left: 0;
            width: 40%;
           

    
        }


#sous-section-jardin{

    transform: translateX(0%);
    gap: 30px;
    flex-direction: column;
    display: flex;
    
    margin-top: 50px;

}
#fleche_jardin_bloc {

display: flex;
justify-content: center;

left: 20%;

}
#jardin-exception-droite{

width: 50%;
margin-top: 50px;

}
.viewbox_fleche_jardin{
    width: auto;
    
    display: flex;
    justify-content: center;
}
#fleche_jardin{
    width: 100%; 
    
    

}


}

@media screen and (max-width:500px) {
    
    #section-artiste{
        margin: 20px;
        width: 100%;
    }
    #biographie{
        width: 90%;
        padding-left: 0;
        height: auto; 
        

    }
    #biographie p{
        background-color: #ebe4dc94;
        /* margin-bottom: 200px;  */
        border-radius: 10px;
    }
    #biographie h2{
        z-index: -5;
    }
    #main{
        width: 110%;
        opacity: 1;
        top:-10px;
        right: 10px;
        transform: rotate(10deg) translateX(300px) translateY(100px) scale(1.15);

    }
    
    #jardin-exception-gauche{
        transform: scale(0.6);
        
    }
    .viewbox_fleche_jardin{
        transform: translateX(20%) scale(1.2);
    }
    #jardin-exception-droite{
        width: 100%;
        padding: 15px;
        
    }
    #sous-section-jardin{
        gap: 0px;
    }
}