#section-fin{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-bottom: 250px;
   
}
#sous-section-fin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    gap: 20px;
}
#fin-gauche{
flex: 1;

justify-content: center;
display: flex;

}
#fin-gauche img{
    height: 100%;
    width: 300px;
    object-fit: cover;
    border-radius: 20px;

    
}
#fin-droite{
    flex:1;
    text-align: center;
    display: flex;
    align-items: center;
   
    
    
}

@media screen and (max-width:1024px) {

    #sous-section-fin{
    width: 100%;
    gap: 30px;
    padding: 50px;
    margin: 50px;
}
#fin-gauche img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;


}
#fin-gauche {
   
    
    justify-content: center;
    display: flex;

}
    #fin-droite{
        flex: 1 1 30%;
    }
}