#section-banniere{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10%;
    opacity: 0;
    /* border: 1px solid; */
}
#texte-banniere{
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}
#section-banniere h1{
    width: 50%;
    /* border: 1px solid; */
}
#section-banniere p{
    width: 50%;
    text-align: left;
    /* border: 1px solid; */
}
#section-video-animation{
  
    height: 100vh;
    position: relative;
    opacity: 0;
}
.animation-fleche-debut {
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fleche {
    position: relative;
    stroke-width: 5px;
    stroke: #854646;
    
}
#fleche2 {
    position: relative;
    stroke-width: 5px;
    stroke: #854646;

}
.viewbox_fleche {

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}
#video-principale-gauche{
    position: relative;
    transform-origin: left;
    left: 0px;
    transform: scale(1.5) translateY(0px);
}
.box {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    padding: 0;
    position: relative;
  
    
}
.box video{
    mask-image: url(/img/masque_video.png);
        mask-size: contain;
    width: 60%;
    left: 0px;
    transform: translateX(-30%) translateY(100px);
    mask-repeat: no-repeat;
    mask-position: center;
    position: absolute;
    filter: brightness(0.5);
    
}
#box-play{

    position: absolute;
    width: 7%;
    top: 70%;
    left: 7%;
    z-index: 5;
    transition: all 0.4s ease;
    opacity: 0.8;
}
#box-play:hover {

    cursor: pointer;
    transform: scale(1.05);
    opacity: 1;

}
#chevron {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #854646;
    opacity: 0;
}
#chevron2 {
    stroke-width: 5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: #854646;
}
#photo-face-video{
    
   
   
    height: 300px;
    position: absolute;
    right: 0px;
    transform: scale(2) translateX(50%);
    transform-origin: right;

    

}
#photo-face-video img{
    mask-image: url(/img/masque_photo.png);
    mask-size: contain;
    mask-position: 15%;
    mask-repeat: no-repeat;

    
}

#video-popup-overlay{
    width: 100vw;
    height: 100vh;
    top:50%;
    left: 50%;
    transform: translateX(-35%) translateY(-38%);
    z-index: 50;
    position: fixed;
    visibility:hidden;
    opacity: 0;
    transition: all 1s;
 
}
#svg-croix{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 2%;
    stroke-width: 10%;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: translate(-50px, -50px);
    transform-origin: center;
    transition: all 0.5s;
   
}
#svg-croix:hover{
    transform: translate(-50px, -50px) rotate(90deg) scale(1.1) ;
    top: 0px;
    left: 0px;
    cursor: pointer;
    
}
#overlay{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.52);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index:30;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
}  